@font-face {
    font-family: 'manikandan-medium';
    src: url('manikandan-medium.ttf');
}
@font-face {
    font-family: 'manikandan-bold';
    src: url('manikandan-bold.ttf');
}
@font-face {
    font-family: 'manikandan-black';
    src: url('manikandan-black.ttf');
}